
<div *ngIf="!isReady()" class="loader-wrapper">
    <div class="like-table">
    <span><div class="loader"></div><br/>Gateway loading..</span>
    </div>
</div>

<div *ngIf="isReady()">
    <app-gateway-title-component></app-gateway-title-component>
    <app-gateway-status-component [onlineStatus]="this.model.status.onlineStatus" 
    [wsServer]="this.model.cfg.wsServer" [wsProtocol]="this.model.cfg.wsProtocol"></app-gateway-status-component>    
    <app-gateway-commands-component></app-gateway-commands-component>   
    
    <div *ngIf="this.model.selCommDevice === 'Gateway'">
            <app-gateway-scenario-component></app-gateway-scenario-component>  
    </div>    
    
    <div *ngIf="this.model.selCommDevice === 'IQRF adapter'">
        <app-gateway-msg-container-component></app-gateway-msg-container-component>
    </div>

    <div *ngIf="this.model.selCommDevice === 'Z-wave adapter'">
        <app-gateway-zwave-adapter-component></app-gateway-zwave-adapter-component>
    </div>    

    <app-gateway-message-list-component></app-gateway-message-list-component>
</div> 

<!--<app-cobalt-switch-mode></app-cobalt-switch-mode> -->
<!-- <webglcanvas *ngIf="isReady()"></webglcanvas> -->

