<div class="title" >Work points</div>
<mat-selection-list #shoes>
    <mat-list-option *ngFor="let point of points; let rowIndex = index"  (click)="OnSelected(shoes)" [value]="rowIndex">
           <!--<span class="endGrabAxesText" > WP{{rowIndex}}: {{point.p.x}}, {{point.p.y}}, {{point.p.z}} ({{point.p.angles.alpha}}, {{point.p.angles.beta}}, {{point.p.angles.gamma}}) </span>  -->
           <span class="endGrabAxesText" > WP{{rowIndex}}: {{point.x}}, {{point.y}}, {{point.z}} ({{point.angles.alpha}}, {{point.angles.beta}}, {{point.angles.gamma}}) </span>
    </mat-list-option>
</mat-selection-list>

<div class="btnAdd" (click)="OnBtnAdd()"></div>

<div *ngIf="this.selectedLenght > 0">
    <div *ngIf="this.selectedLenght == 1">
        <div class="btnEdit" (click)="OnBtnEdit()"></div>
    </div>
    <div class="btnDelete" (click)="OnBtnDelete()"></div>
</div>