<div class="title">
    <div *ngIf="this.model.status.mode == 0">
        Control mode
    </div>
    <div *ngIf="this.model.status.mode == 1">
        Learning mode
    </div>    
</div>
<div class="title"></div>
<div>
    <mat-form-field>
        <mat-select placeholder="Select Mode" (change)="OnControlModeClick($event)" [(ngModel)]="this.model.status.mode">
            <mat-option [value] = 0>Control mode</mat-option>
            <mat-option [value] = 1>Learning mode</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="this.model.status.mode == 0">
    <mat-form-field>
        <mat-select placeholder="Select CNC file" (change)="OnFileSelectClick($event)" [(ngModel)]="this.model.status.cncFile">    
            <mat-option *ngFor="let file of model.filelist.files" [value]="file">
                {{ file }}
            </mat-option>             
        </mat-select>
    </mat-form-field>    
    <div class="endgrab" type="z" (click)="OnEndGrab()"></div>
    <div class="loading-indicator" *ngIf="this.wait === true">
            <mat-spinner [diameter]="80"></mat-spinner>
    </div>            
</div>
<div *ngIf="this.model.status.mode == 1">
    <mat-form-field>
        <mat-select placeholder="Select JSON file" (change)="OnFileJsonSelectClick($event)" [(ngModel)]="this.model.status.jsonFile">    
            <mat-option *ngFor="let file of model.filelistJson.files" [value]="file">
                {{ file }}
            </mat-option>             
        </mat-select>
    </mat-form-field>    
    <div class="saveJson" type="z" (click)="OnSaveJson()"></div>
    <div class="loading-indicator" *ngIf="this.wait === true">
            <mat-spinner [diameter]="80"></mat-spinner>
    </div>            
</div>
