
<div *ngIf="this.model.status.trajReady && !this.model.status.manTrajsOn">
    <div >
        <label (click)="OnStartClick()">
            <button class="button buttonStart"><span> Start </span></button>
        </label>
        <label (click)="OnStopClick()">
            <button class="button buttonStop"><span> Stop </span></button>
        </label>
        <label (click)="OnBackClick()">
            <button class="button buttonBack"><span> Back </span></button>
        </label>      
    </div>
</div>
<div *ngIf="this.model.status.manTrajsOn">
    <div class="manPlusX" type="x" (mousedown)="OnManDown()" (click)="OnManUp()"></div>
    <div class="manMinusX" type="x" (click)="OnManUp()"></div>
    <div class="manPlusY" type="x" (click)="OnMan()"></div>
    <div class="manMinusY" type="x" (click)="OnMan()"></div>
    <div class="manPlusZ" type="x" (click)="OnMan()"></div>
    <div class="manMinusZ" type="x" (click)="OnMan()"></div>
</div>
<label (click)="OnResetClick()">
    <button class="button buttonReset"><span> Reset </span></button>
</label>    
<label (click)="OnSwitchClick()">
    <button class="button2 buttonSwitch"><span>>></span></button>
</label>  