
<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>{{this.title}}</h1>
    <mat-dialog-content>               
        <mat-form-field>
                <input matInput formControlName="alpha" placeholder="alpha">
        </mat-form-field>    
        <mat-form-field>
                <input matInput formControlName="beta" placeholder="beta">
        </mat-form-field>          
        <mat-form-field>
                <input matInput formControlName="gamma" placeholder="gamma">
        </mat-form-field>                  
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">{{this.Ok}}</button>
        <button mat-button type="button" mat-dialog-close>{{this.Cancel}}</button>
    </mat-dialog-actions>
</form>
      