<div class="title">
    Gateway status
</div>
<!--
<div>
    <br>
</div>

<table class="endGrabText">
    <tr><td>X: {{this.P.x | number : '1.3-3' }}</td>
        <td>A: {{this.A.x | number : '1.3-3' }}</td></tr>
    <tr><td>Y: {{this.P.y | number : '1.3-3' }}</td>
        <td>B: {{this.A.y | number : '1.3-3' }}</td></tr>
    <tr><td>Z: {{this.P.z | number : '1.3-3' }}</td>
        <td>C: {{this.A.z | number : '1.3-3' }}</td></tr>    
</table>
<div>
    <br>
</div>
<table class="endGrabAxesText">
    <tr><td>(1):{{this.a.f1 | number : '1.3-3' }}</td>
        <td>(2):{{this.a.f2 | number : '1.3-3' }}</td>
        <td>(3):{{this.a.f3 | number : '1.3-3' }}</td></tr>
    <tr><td>(4):{{this.a.f4 | number : '1.3-3' }}</td>
        <td>(5):{{this.a.f5 | number : '1.3-3' }}</td>
        <td>(6):{{this.a.f6 | number : '1.3-3' }}</td></tr>    
</table>
-->
<div *ngIf="this.onlineStatus">
    <div class="diod-online-on"></div>
    <div class="text-online">on-line</div>
</div>
<div *ngIf="!this.onlineStatus">
    <div class="diod-online-off"></div>
    <div class="text-online">off-line</div>
</div>


<div class="statusText"> 
    <br>
    <p><b>Version:</b>&nbsp;{{this.gwmVersion}}</p>
    <p><b>Last update:</b>&nbsp;{{this.gwmLastupdate}}</p>
    <p><b>API Version:</b>&nbsp;{{this.apiVersion}}</p>
    <p><b>WS Server:</b>&nbsp;{{this.wsServer}}</p>
    <p><b>WS Protocol:</b>&nbsp;{{this.wsProtocol}}</p>
</div>
<img src="./theme/IOT-logo.png" alt="Lights" style="width:80%"> 
<br>
<br>
<img src="./theme/Logimic_logo_full.png" alt="Lights" style="width:50%"> 