
#table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:450px;
    overflow:auto;  
    margin-top:2px;
  }
  #table-wrapper table {
    width:100%;
  
  }
  #table-wrapper table * {
    color:black;
  }
  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
  }
/*
  .tableText{
    color: rgb(255, 255, 255);
    width: 100%;    
    text-align: justify;
    text-justify: inter-word;    
    height: 24px;
    font: 10px arial, sans-serif;
}
*/

mat-panel-description.mat-panel-description {
  font-size: 12px;
}

mat-form-field.mat-form-field {
  font-size: 13px;
}