<div class="title">
        Message...
</div>

<br>
<div class="container" style="width: 100%;"></div>
<div class="sd2" style="width: 280px; float: left;">
    
<form class="example-form" [formGroup]="form" (ngSubmit)="submit(form)">      
    <mat-form-field class="example-full-width">
        <textarea matInput rows="25" placeholder="Enter JSON:" formControlName="text"></textarea>
    </mat-form-field>    
    <button mat-button type="submit">Submit</button>
    <button mat-button type="button" (click)="reset()" >Clear</button>
</form>
</div>
<div class="content" style="margin-left: 5px; margin-top: 460px;">
        <mat-form-field  class="selector-full-width">
            <mat-select placeholder="Predefined messages" (change)="OnControlModeClick($event)" [(ngModel)]="this.mode">
                <!--
                <mat-option [value] = 0>{{this.msgList.messages[0]}}</mat-option>
                <mat-option [value] = 1>{{this.msgList.messages[1]}}</mat-option>
                -->
                <mat-option *ngFor="let msg of this.msgList.messages;  let i = index" [value]="i">
                        {{ msg }}
                </mat-option>
            </mat-select>
        </mat-form-field>
</div>



