<div class="title">
    Message...
</div>
<!--
<div class="content" style="margin-left: 5px; margin-top: 20px;">
    <mat-form-field  class="selector-full-width">
        <mat-select placeholder="Message modes..." (change)="OnControlModeClick($event)" [(ngModel)]="this.mode">
            <mat-option *ngFor="let mode of this.modeList; let i = index" [value]="i">
                {{ mode }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div> -->

<div *ngIf="this.mode == 0">
    <app-gateway-msg-plain-component></app-gateway-msg-plain-component>
</div>
<div *ngIf="this.mode == 1">
    <app-gateway-msg-conc-component></app-gateway-msg-conc-component>
</div>