<div class="title">
    Scenario
</div>

<div class="row" style="padding:10px;">
    <!--Column-->
    <div class="column left" style="padding:10px;">
        <div class="example-container" >
                <form class="example-form" [formGroup]="form">      
                        <mat-form-field class="example-full-width">
                            <textarea matInput rows="15" placeholder="Enter Java Script:" formControlName="text"></textarea>
                        </mat-form-field>    
                    </form>
<!--
            <mat-form-field class="example-full-width">
                    <textarea matInput rows="15" placeholder="Enter JSON:" ></textarea>
            </mat-form-field>
        -->
        </div>
    </div>
    <!--Column-->
    <div class="column right" style="padding:10px;">
        <div class="content" style="margin-left: 5px; margin-top: 10px;">
            <mat-form-field  class="selector-full-width">
                <mat-select placeholder="Available scenarios..." (change)="OnScriptSelect($event)" [(ngModel)]="this.mode">                    
                    <mat-option *ngFor="let scenario of this.model.scenarioList.list; let i = index" [value]="i">
                        {{ scenario.name }}
                    </mat-option>                
                </mat-select>
            </mat-form-field>
            <button mat-button type="submit" (click)="submit()">Submit</button>
            <button mat-button type="button" (click)="reset()" >Clear</button>           
        </div>                    
    </div>
</div>

<!--

<div class="row" style="padding: 10px;">
    <div class="column left">
        <div class="content" style="margin-left: 5px; margin-top: 20px;">
            <mat-form-field  class="selector-full-width">
                <mat-select placeholder="Available scenarios..." (change)="OnScriptSelect($event)" [(ngModel)]="this.mode">
                    
                    <mat-option *ngFor="let scenario of this.model.scenarioList.scenarios; let i = index" [value]="i">
                        {{ scenario.name }}
                    </mat-option>
                
                </mat-select>
            </mat-form-field>
        </div>      
    </div>
    <div class="column middle">

           
     
                <mat-form-field>
                    <textarea matInput rows="16" placeholder="Enter JSON:"></textarea>
                </mat-form-field>    

                <mat-form-field>
                        <textarea matInput placeholder="Textarea"></textarea>
                      </mat-form-field>
                    
           
        
        
    </div>
    <div class="column right" style="background-color:rgb(173, 21, 21);">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
    </div>
  </div>

-->
<!--

<div class="content" style="margin-left: 5px; margin-top: 20px;">
    <mat-form-field  class="selector-full-width">
        <mat-select placeholder="Available scenarioss..." (change)="OnScriptSelect($event)" [(ngModel)]="this.mode">
            
            <mat-option *ngFor="let scenario of this.model.scenarioList.scenarios; let i = index" [value]="i">
                {{ scenario.name }}
            </mat-option>
        
        </mat-select>
    </mat-form-field>
</div>
-->