
<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>{{this.title}}</h1>
    <mat-dialog-content> 
        <mat-form-field>
            <input matInput formControlName="xCoord" placeholder="x-value">
        </mat-form-field>        
        <mat-form-field>
                <input matInput formControlName="yCoord" placeholder="y-value">
        </mat-form-field>   
        <mat-form-field class = 'form-item.field.email'>
                <input matInput formControlName="zCoord" placeholder="z-value">
        </mat-form-field>                
        <mat-form-field>
                <input matInput formControlName="aCoord" placeholder="a-value">
        </mat-form-field>    
        <mat-form-field>
                <input matInput formControlName="bCoord" placeholder="b-value">
        </mat-form-field>          
        <mat-form-field>
                <input matInput formControlName="cCoord" placeholder="c-value">
        </mat-form-field>                  
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">{{this.Ok}}</button>
        <button mat-button type="button" mat-dialog-close>{{this.Cancel}}</button>
    </mat-dialog-actions>
</form>
      